* {
  all: unset;
  font-family: MonaspiceNe Nerd Font;
}

// bar

.bar {
  background-color: #191724;
  border-radius: 6px;
}

// dash-open

.dash-open-button {
  background-color: #26233a;
  padding: 4px 0px;
  margin: 4px 4px 0px 4px;
  border-radius: 6px;
}

.dash-open-button-label {
  font-size: 18px;
}

// workspaces

.active-workspace {
  background-color: #26233a;
  padding: 7px 0px 5px 0px;
  margin: 4px 4px 0px 4px;
  border-radius: 6px;
}

.active-workspace-label {
  color: #e0def4;
  margin: 0px 0px 0px 1px;
}

.workspaces {
  padding: 4px 0px 1px 0px;
}

.ws1,
.ws2,
.ws3,
.ws4 {
  color: #e0def4;
  background-color: #26233a;
  padding: 2px 0px 0px 0px;
  margin: 0px 4px 0px 5px;
  border-radius: 6px;
}

.ws1:hover,
.ws2:hover,
.ws3:hover,
.ws4:hover {
  background-color: #6e6a86;
}

// clock

.time {
  background-color: #26233a; 
  padding: 6px 0px 2px 0px; 
  margin: 0px 4px;
  border-radius: 6px;
}

// misc
.misc {
  background-color: #26233a;
  color: #e0def4;
  padding: 4px 0px;
  margin: 0px 4px;
  border-radius: 6px;
}

.audio {
  font-size: 18px;
  margin: 0px 0px 0px 2px;
}

.net {
  margin: 0px 4px 0px 0px;
}

.notif {
  margin: 0px 2px 0px 0px;
}

// powermenu

.powermenu {
  background-color: #26233a;
  padding: 4px 0px;
  margin: 4px;
  border-radius: 6px;
}

.button-lock {
  font-size: 16px;
  color: #31748f;
}

.button-quit {
  color: #f6c177;
}

.button-reboot{
  padding: 0px 3px 1px 0px;
  color: #ebbcba;
}

.button-off {
  padding: 0px 3px 0px 0px;
  color: #eb6f92;
}

// dash
.dash {
  background-color: #000000;
}
